.gitignore
*.ipynb
models/sbert/*
models/tokenizer/*
models/word_vector/*
dataset/embedding/*
dataset/pairs/*
dataset/triplets/*
figures/*
evaluation/*
validation/*
officials/
triplet.py
pair.py
eval.py
matplotlib_config.py
